/* Oculta la barra de desplazamiento vertical */
body::-webkit-scrollbar {
    width: 0em;
    /* Ancho de la barra de desplazamiento (ajusta según tus preferencias) */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Color del área de agarre del usuario */
}

body, html {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000000;
}

header {
    height: 7vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 10px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    padding: 10px;
    margin-right: 0px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(img/Terrico\ \(13\).jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    height: 94vh;
    text-align: center;
    font-size: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

#sobre-terrico {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.294),
            rgba(0, 0, 0, 0.225)), #ffffffd9;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}

#galeria-terrico {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#galeria-terrico img {
    padding: 30px;
    height: 400px;
    min-width: 300px;
    width: 300px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
}




#galeria-terrico img:hover {
    height: 450px;
    width: 350px;
}

.galeria {
    margin: auto;
}



footer {
    height: 5vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

@media (min-width: 721px) {
    footer {
        padding: 40px;
    }

    footer p {
        font-size: 45px;
    }
    
    #galeria-terrico {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #galeria-terrico img {
        height: 200px;
        width: 600px;
        object-fit: cover;
    }

    #galeria-terrico img:hover {
        height: 550px;
        width: 600px;
    }
}

@media (min-width: 1300px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }
    
    footer {
        height: 5vh;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    
    footer p {
        font-size: 30px;
        margin: 0;
    }
    
    #galeria-terrico {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #galeria-terrico img {
        padding: 30px;
        height: 400px;
        min-width: 300px;
        width: 300px;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        transition: 0.25s;
    }
    
    #galeria-terrico img:hover {
        height: 450px;
        width: 350px;
    }

}